<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SignalingServerURL</key>
	<string>$(SIGNALING_SERVER_URL)</string>
	<key>IceServerURLs</key>
	<string>$(ICE_SERVER_URLS)</string>
	<key>NSCameraUsageDescription</key>
	<string>Uses the camera to capture video during a meeting.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Uses the microphone to capture audio during a meeting.</string>
</dict>
</plist>
